$font: Roboto;
$border: linear-gradient(
    315.75deg,
    rgba(254, 189, 171, 0.74) 30.06%,
    rgba(243, 169, 248, 0.66) 50.74%,
    #e0d8f0 80.49%,
    #eaf7fe 127.9%,
    #eaf7fe 149.54%
  ),
  linear-gradient(
    315.75deg,
    rgba(254, 189, 171, 0.74) 30.06%,
    rgba(243, 169, 248, 0.66) 50.74%,
    #e0d8f0 80.49%,
    #eaf7fe 127.9%,
    #eaf7fe 149.54%
  );
@font-face {
  font-family: Roboto;
  src: url(../../assets/fonts/Roboto/Roboto-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Roboto;
  src: url(../../assets/fonts/Roboto/Roboto-Italic.ttf);
  font-style: italic;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
.overlay__head {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 4;
}
.overlay__testimonials {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
  display: none;
}
body {
  position: relative;
  font-family: $font;
  color: #ffffff;

  margin: auto;
  &.no-scroll {
    overflow-y: hidden;
  }
}

.darkenedArea {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

// .popup {
//   position: fixed;
//   width: 100%;
//   height: 100%;
//   top: 0;
//   left: 0;
//   background: rgba(0, 0, 0, 0.25);
//   opacity: 0;
//   visibility: hidden;
//   z-index: 110;
// }

// .popup-active {
//   opacity: 0;
//   visibility: hidden;
// }

// .popup__container {
//   position: relative;
//   margin: calc(50vh - 214px) auto;
//   width: 320px;
//   height: 428px;
//   padding: 20px 36px 17px 17px;
//   background: #f5f7f6;
// }
// .x-close {
//   position: absolute;
//   top: -25px;
//   right: -40px;
//   width: 50px;
//   height: 50px;
//   background: url("../../assets/icons/x_icon1.svg") no-repeat center;
// }
// .close {
//   position: absolute;
//   top: 12px;
//   right: 10px;
//   display: block;
// }

// .popup__review {
//   position: relative;
//   width: 267px;
//   height: 391px;
//   padding: 13px 13px 19px 14px;
//   border: 2px solid rgba(255, 255, 255, 0);
//   background: linear-gradient(
//     60deg,
//     rgba(254, 189, 171, 0.74),
//     rgba(243, 169, 248, 0.66)
//   );
//   box-shadow: inset 0px 0px 0px 100vw #f1f3f2;
//   border-radius: 20px;
// }

// .popup__person {
//   padding-left: 47px;
//   margin-bottom: 1px;
//   font-family: "Roboto";
//   font-style: normal;
//   font-weight: 400;
//   font-size: 16px;
//   line-height: 19px;
//   color: pink;
// }

// .popup__location {
//   width: 100%;
//   padding-left: 47px;
//   margin-bottom: 10px;
//   font-family: "Roboto";
//   font-style: normal;
//   font-weight: 300;
//   font-size: 15px;
//   line-height: 18px;
//   color: pink;
//   word-spacing: 1.6px;
// }

// .popup__text {
//   font-family: "Roboto";
//   font-style: normal;
//   font-weight: 300;
//   font-size: 15px;
//   line-height: 18px;
//   color: #767474;
// }

// @media (max-width: 999px) {
//   .popup-active {
//     opacity: 1;
//     visibility: visible;
//   }
// }

.button {
  font-family: $font;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  width: 298px;
  height: 54px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 25px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  outline: none;
  text-transform: uppercase;
  border: none;
}
.button:hover,
.button:focus {
  background: #e47209;
}

.button:active,
.button.active {
  background: #4b9200;
}
.link {
  text-decoration: none;
  outline: none;
}
.header__link {
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
  @media (max-width: 640px) {
    display: none;
  }
}
.header__link:active,
.header__link.active {
  color: #e47209;
  outline: none;
}
.header__link:hover,
.header__link:focus {
  color: #fe9013;
  transition: 0.3s;
  outline: none;
}

.wrapper {
  max-width: 1160px;
  margin: 0 auto;
}
.header__wrapper {
  max-width: 1160px;
  height: 100%;
  margin: auto;
  @media screen and (max-width: 640px) {
    max-width: 640px;
    height: 100%;
  }
}

.header {
  position: absolute;
  top: 0;
  margin: auto;
  width: 100%;
  height: 80px;
  background: #000000;
  z-index: 2;
  @media screen and (max-width: 640px) {
    position: fixed;
    top: 0;
    left: 0;

    height: 34px;
  }
  @media screen and (max-width: 320px) {
  }
  .header__container {
    justify-content: space-between;
    padding: 14px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    @media screen and (max-width: 1160px) {
      padding: 14px 30px;
    }
    @media screen and (max-width: 640px) {
      padding: 0px 20px;
      justify-content: space-between;
      height: 100%;
    }
    @media screen and (max-width: 639px) {
      padding: 0px 10px;
    }
    .header__logo {
      border: 1px solid #ffffff;
      border-radius: 2px;
      position: relative;
      text-align: center;
      margin-bottom: 0px;
      display: inline-block;
      width: 82px;
      height: 52px;
      @media screen and (max-width: 640px) {
        width: 46.93px;
        height: 29.03px;
        border: none;
      }
      .header__logo-text {
        text-align: center;
        font-size: 1.2rem;
        line-height: 1.2;
        color: #ffffff;
        @media screen and (max-width: 640px) {
          font-size: 12.2899px;
          text-align: center;
          margin: 0 auto;
        }
      }
    }
    .header__logo:hover,
    .header__logo:focus {
      transform: scale(1.1);
      transition: 0.3s;
    }
    .header__logo::after {
      content: url(../../assets/icons/bamboo.svg);
      position: absolute;
      top: 24px;
      left: 10px;
      @media screen and(max-width: 640px) {
        content: url(../../assets/icons/bamboo__tablet.svg);
        top: 12px;
        left: 4px;
      }
    }

    .header__nav {
      margin: 0 437px 0 63px;
      @media screen and (max-width: 1160px) {
        margin: 0px 260px 0px 63px;
      }
      @media screen and (max-width: 999px) {
        margin: 0px;
      }
      @media screen and (max-width: 640px) {
        display: none;
      }
      .nav__list {
        display: flex;
        flex-wrap: wrap;
        gap: 58px;
        @media screen and (max-width: 1000px) {
          gap: 48px;
        }

        .nav__item {
          font-size: 16px;
          line-height: 140%;
        }
      }
    }
    .copyright {
      width: 105px;
      height: 22px;
      font-size: 16px;
      line-height: 140%;
      @media screen and (max-width: 680px) {
        display: none;
      }
    }

    .header__burger {
      display: none;

      @media screen and(max-width: 640px) {
        background: url(../../assets/icons/burger_menu.svg) no-repeat center;
        width: 18px;
        height: 10px;
        cursor: pointer;
        padding: 10px;
        display: block;
      }
    }
  }
}

.intro {
  background: url(../../assets/imgs/panda_bg1.jpg) no-repeat center/cover;
  padding-top: 80px;
  height: 780px;
  @media screen and (max-width: 1000px) {
    height: 584px;
  }
  @media screen and (max-width: 640px) {
    padding-top: 34px;
    height: 373px;
  }
  @media screen and (max-width: 400px) {
    height: 187px;
    margin-top: 34px;
    padding-top: 0px;
  }
  .intro__wrapper {
    height: 700px;
    max-width: 1160px;
    margin: auto;
    padding-top: 86px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 60px;
    @media screen and (max-width: 1000px) {
      gap: 40.2px;
      height: 504px;
      max-width: 831.5px;
      padding-top: 43px;
    }
    @media screen and (max-width: 640px) {
      padding: 0px;
      display: block;
      height: 339px;
      position: relative;
    }
    @media screen and (max-width: 400px) {
      height: 187px;
    }
    .watch {
      width: 500.31px;
      height: 400px;
      display: flex;
      flex-direction: column;
      align-items: center;

      z-index: 1;
      position: relative;
      @media screen and (max-width: 1000px) {
        width: 400.25px;
        height: 320px;
      }
      @media screen and (max-width: 640px) {
        width: 256px;
        height: 204.4px;
        top: 47px;
        left: 368px;
      }
      @media screen and (max-width: 639px) {
        top: 83px;
        left: 265px;
        width: 128px;
        height: 102.5px;
      }
      @media screen and (max-width: 400px) {
        top: 75px;
        left: 199px;
      }
      @media screen and (max-width: 320px) {
        top: 42px;
        left: 182px;
      }

      .watch__text {
        font-size: 106.496px;
        text-transform: uppercase;
        line-height: 75%;
        font-weight: 700;
        @media screen and (max-width: 1000px) {
          font-size: 85px;
        }
        @media screen and (max-width: 640px) {
          font-size: 3.393rem;
        }
        @media screen and (max-width: 639px) {
          font-size: 28px;
          line-height: 74%;
        }
      }
      .watch__text__sprite {
        color: #ffee2e;
      }
    }
    .watch::before {
      content: "";
      position: absolute;
      width: 465px;
      height: 465px;
      z-index: -1;
      background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
      border-radius: 50%;
      top: -72px;
      left: -76px;
      @media screen and (max-width: 1000px) {
        width: 367px;
        height: 367px;
        top: -54px;
        left: -61px;
      }
      @media screen and (max-width: 640px) {
        width: 238px;
        height: 238px;
        top: -38px;
        left: -36px;
      }
      @media screen and (max-width: 639px) {
        width: 119px;
        height: 119px;
        top: -20px;
        left: -19px;
      }
    }

    .button__1 {
      margin-right: 98px;
      @media screen and (max-width: 1000px) {
        margin-right: 50px;
      }
      @media screen and (max-width: 640px) {
        margin-right: 0px;
        top: 244px;
        left: 21px;
        position: absolute;
      }
      @media screen and (max-width: 639px) {
        top: 256px;
        left: 13px;
      }
      @media screen and (max-width: 400px) {
        top: 214px;
        left: 10px;
      }
      @media screen and (max-width: 320px) {
        top: 207px;
        left: 13px;
      }
    }
  }
}

.your__favor {
  height: 1829px;

  color: #333b41;
  @media screen and (max-width: 1500px) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  @media screen and (max-width: 1000px) {
    height: 1744px;
  }
  @media screen and (max-width: 999px) {
    height: 1900px;
  }
  @media screen and (max-width: 640px) {
    height: 1477px;
  }
  @media screen and (max-width: 639px) {
    height: 2054px;
  }
}

.pets {
  background-image: url(../../assets/imgs/palm_foto.svg),
    url(../../assets/imgs/strelitzia\ 1.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: left bottom, right bottom;

  height: 1106px;
  @media screen and (max-width: 1440px) {
    background-image: url(../../assets/imgs/palm_smalldesk.svg),
      url(../../assets/imgs/strelitzia_smalldesk.svg);
  }
  @media screen and (max-width: 1000px) {
    height: 1072px;
  }
  @media screen and (max-width: 999px) {
    height: 970px;
    background-image: url(../../assets/imgs/palm_tablet.svg),
      url(../../assets/imgs/strelitzia_tablet.svg);
  }
  @media screen and (max-width: 639px) {
    height: 1522px;
    background-image: url(../../assets/imgs/palm_mobile.svg),
      url(../../assets/imgs/strelitzia_mobile.svg);
    background-position: left bottom, right 100.24%;
  }
}

.backstage {
  padding: 140px 0px 180px 0px;
  background-image: url(../../assets/imgs/flower_foto2.jpg);
  background-repeat: no-repeat;
  background-position: right 10%;
  @media screen and (max-width: 1500px) {
    background-image: url(../../assets/imgs/flower_tablet.svg);
    background-position: right 20%;
    padding-bottom: 0px;
  }
  @media screen and (max-width: 1000px) {
    padding-top: 110px;
    background-image: none;
  }
  @media screen and (max-width: 999px) {
    padding-top: 70px;
    background-image: url(../../assets/imgs/flower_tablet.svg);
  }
  @media screen and (max-width: 640px) {
    display: block;
    padding: 70px 20px 0px 20px;

    background-position: right -5px;
  }
  @media screen and (max-width: 639px) {
    padding: 115px 10px 0px 10px;
  }
  @media screen and (max-width: 639px) {
    background-image: url(../../assets/imgs/flower_mobile.svg);
    background-position: right 38px;
  }
  .backstage__container {
    max-width: 1160px;

    display: flex;
    gap: 87px;
    margin: auto;
    @media screen and (max-width: 1500px) {
      gap: 31px;
    }
    @media screen and (max-width: 1280px) {
      max-width: 940px;

      margin: 0 auto;
    }
    @media screen and (max-width: 999px) {
      flex-direction: column;
      max-width: 640px;
      display: block;
    }

    .backstage__image {
      min-width: 609px;
      height: 408px;
      background: url(../../assets/imgs/bamboo-cap.svg) no-repeat center;
      background-size: cover;

      @media screen and (max-width: 1500px) {
        min-width: 455px;
        height: 408px;
      }
      @media screen and (max-width: 999px) {
        width: 455px;
        margin-bottom: 20px;
      }
      @media screen and (max-width: 640px) {
        display: none;
      }
    }
    .backstage__article {
      @media screen and (max-width: 1330px) {
        margin-top: -10px;
        padding-right: 35px;
      }
      @media screen and (max-width: 1000px) {
        padding-right: 0px;
      }
      .backstage__title {
        font-size: 48px;
        line-height: 120%;
        font-weight: 400;
        margin-bottom: 20px;
        @media screen and (max-width: 1330px) {
          margin-bottom: 22px;
        }
        @media screen and (max-width: 640px) {
          margin-left: 5px;
        }
        @media screen and (max-width: 639px) {
          font-size: 24px;
          margin-left: 0px;
          margin-bottom: 11px;
        }
      }
      .backstage__text1 {
        font-weight: 400;
        line-height: 140%;
        margin-bottom: 54px;
        @media screen and (max-width: 640px) {
          line-height: 130%;
          margin-right: 104px;
          margin-bottom: 30px;
        }
        @media screen and (max-width: 639px) {
          margin: 0px 0px 20px 2px;
        }
      }
      .backstage__subtitle {
        font-size: 24px;
        line-height: 120%;
        font-weight: 400;
        margin-bottom: 31px;
        @media screen and (max-width: 640px) {
          margin-left: 4px;
          margin-bottom: 19px;
        }

        @media screen and (max-width: 639px) {
          margin-left: 3px;
          margin-bottom: 9px;
          font-size: 24px;
        }
      }
      .backstage__text2 {
        font-weight: 400;
        line-height: 140%;
        @media screen and (max-width: 640px) {
          margin-right: 104px;
        }
        @media screen and (max-width: 639px) {
          margin-right: 0px;
        }
      }
    }
  }
}

.slider {
  display: grid;
  grid-template-columns: repeat(3, 366px);
  grid-template-rows: 426px 426px;
  grid-gap: 20px 30px;
  overflow: hidden;
  @media screen and (max-width: 1330px) {
    grid-template-columns: repeat(3, 293px);
    grid-template-rows: 354px 354px;
    grid-gap: 92px 29px;
  }
  @media screen and (max-width: 999px) {
    grid-gap: 69px 22px;
  }
  @media screen and (max-width: 639px) {
    grid-template-columns: 285px;
    grid-template-rows: repeat(4, 332px);
    grid-gap: 20px 0px;
  }
}

.arrow {
  width: 62px;
  height: 62px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 100px;
  border: 0.3px solid #ffffff;
  top: -469px;
  @media screen and (max-width: 1330px) {
    top: -438px;
  }
}
.arrow:hover,
.arrow:focus {
  background: #e47209;
  transition: all 0.4s ease;
}
.arrow:active,
.arrow.active {
  background: #4b9200;
}
.right__arrow {
  position: absolute;
  right: -64px;
  @media screen and (max-width: 1130px) {
    left: 58.6%;
    top: -434px;
  }
  @media screen and (max-width: 999px) {
    left: 335px;
    top: -435px;
  }
}
.left__arrow {
  position: absolute;
  left: -66px;
  @media screen and (max-width: 1130px) {
    left: 35.3%;
    top: -435px;
  }
  @media screen and (max-width: 999px) {
    left: 243px;
    top: -435px;
  }
}

.button__2 {
  margin-top: 80px;
  @media screen and (max-width: 1000px) {
    margin-top: 77px;
  }
  @media screen and (max-width: 640px) {
    margin-top: 38px;
  }
  @media screen and (max-width: 320px) {
    margin-top: 20px;
  }
}

.pets__slider-wrapper {
  width: 1190px;
  margin: auto;
  overflow: hidden;
  @media screen and (max-width: 1330px) {
    max-width: 940px;
  }

  @media screen and (max-width: 999px) {
    max-width: 600px;
  }

  @media screen and (max-width: 639px) {
    max-width: 320px;
    height: 1388px;
  }
}
.pets__slider {
  display: flex;
  justify-content: center;
  margin: auto;
}
.pets__card:hover .pets__title,
.pets__card:hover .banana,
.pets__card:hover .meat {
  transform: translateY(-150%);
  transition: 0.7s;
  color: #ffffff;
}
.pets__card:hover .pets__title-wrapper {
  background: #00000050;
  transition: 0.7s;
  z-index: 10;
}
.pets__card {
  @media screen and (max-width: 999px) {
    width: 285px;
    height: 332px;
  }
  .pets__border {
    border: 1px solid #fa6f32;
    border-radius: 5px;
    @media screen and (max-width: 999px) {
      height: 332px;
    }

    .pets__frame {
      overflow: hidden;
      @media screen and (max-width: 999px) {
        border-radius: 3px;
      }
      .pets__image {
        padding-bottom: 100%;
      }
      .pets__image:hover {
        transform: scale(1.055);
        filter: brightness(0.7);
        transition: all 0.4s ease;
      }
      .panda {
        background: url(../../assets/imgs/Rectangle\ 5.svg);
        background-size: contain;
      }
      .eagle {
        background: url(../../assets/imgs/Rectangle\ 2.svg);
        background-size: contain;
      }
      .gorillas {
        background: url(../../assets/imgs/Rectangle\ 3.svg);
        background-size: contain;
      }
      .sloth {
        background: url(../../assets/imgs/Rectangle\ 4.svg);
        background-size: contain;
      }
      .cheetahs {
        background: url(../../assets/imgs/Rectangle\ 6.svg);
        background-size: contain;
      }
      .penguins {
        background: url(../../assets/imgs/Rectangle\ 1.svg);
        background-size: contain;
      }
    }

    .pets__title-wrapper {
      padding: 8px 10px 12px 15px;
      @media screen and (max-width: 640px) {
        padding: 8px 9px 9px 12px;
      }

      .pets__title-shadow {
        display: flex;
        justify-content: space-between;

        .pets__title {
          .pets__name {
            font-size: 16px;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 140%;
            margin-bottom: -1px;
            @media screen and (max-width: 640px) {
              font-size: 13px;
              line-height: 119%;
            }
          }
          .pets__place {
            font-size: 15px;
            font-weight: 300;
            line-height: 120%;
            @media screen and (max-width: 640px) {
              font-size: 11.7px;
            }
          }
        }
        .banana {
          background: url(../../assets/icons/banana-bamboo_icon.svg);
          background-size: cover;
          width: 33px;
          height: 37px;
          @media screen and (max-width: 640px) {
            background: url(../../assets/icons/banana-bamboo_tablet.svg);
            background-size: cover;
            width: 26px;
            height: 29px;
          }
        }
        .meat {
          background: url(../../assets/icons/meet-fish_icon.svg);
          background-size: cover;
          width: 48px;
          height: 38px;
          @media screen and (max-width: 640px) {
            background: url(../../assets/icons/meet-fish_tablet.svg);
            background-size: cover;
            width: 37.5px;
            height: 30px;
          }
        }
      }
    }
  }
}

.pets__inner {
  width: 1190px;
  position: relative;
  margin: auto;
  @media screen and (max-width: 1330px) {
    max-width: 1000px;
  }

  @media screen and (max-width: 999px) {
    max-width: 640px;
  }
  @media screen and (max-width: 639px) {
    display: none;
  }
}

.feed {
  height: 1004px;
  margin: auto;
  padding: 69px 0px 100px 0px;
  background: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
  opacity: 0.9;
  @media screen and (max-width: 1160px) {
    height: 876px;
    padding: 30px 30px 50px 30px;
  }
  @media screen and (max-width: 640px) {
    height: 781px;
    padding: 20px 0px;
  }
  @media screen and (max-width: 639px) {
    height: 1082px;
  }
  .feed__wrapper {
    max-width: 1160px;
    height: 835px;
    margin: auto;
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    color: #333b41;
    @media screen and (max-width: 1160px) {
      max-width: 940px;
      height: 796px;
    }
    @media screen and (max-width: 640px) {
      max-width: 640px;
      height: 740px;
      padding: 10px 20px 60px 20px;
    }
    @media screen and (max-width: 639px) {
      height: 1042px;
      padding: 20px 0px 0px 0px;
    }
    @media screen and (max-width: 320px) {
      max-width: 300px;
    }
    .feed__title {
      font-size: 48px;
      line-height: 120%;
      color: #fe9013;
      padding-top: 40px;
      text-align: center;
      margin-bottom: 34px;
      @media screen and (max-width: 1160px) {
        padding: 30px 0px 20px 0px;
        margin-bottom: 0px;
      }
      @media screen and (max-width: 640px) {
        font-size: 42px;
        padding-top: 0px;
      }
      @media screen and (max-width: 639px) {
        font-size: 24px;
        padding-bottom: 11px;
      }
    }

    .feed__p1 {
      font-size: 24px;
      line-height: 120%;
      padding-left: 99px;
      margin-bottom: 40px;
      @media screen and (max-width: 1160px) {
        padding-left: 50px;
        margin-bottom: 21px;
      }
      @media screen and (max-width: 640px) {
        padding-left: 0px;
        font-size: 22px;
      }
      @media screen and (max-width: 639px) {
        font-size: 18px;
        text-align: center;
        margin-bottom: 19px;
      }
    }
    .feed__p2 {
      font-size: 16px;
      line-height: 130%;
      font-weight: 500;
      padding-left: 99px;
      margin-bottom: 10px;
      letter-spacing: normal;
      @media screen and (max-width: 1160px) {
        padding: 0px 5.2%;
        margin-bottom: 11px;
        letter-spacing: 0.31px;
      }
      @media screen and (max-width: 640px) {
        padding: 0px;
        letter-spacing: 0.08px;
        margin-bottom: 9px;
      }
      @media screen and (max-width: 639px) {
        display: none;
      }
    }
    .feed__p3 {
      line-height: 130%;
      margin-bottom: 60px;
      padding: 0px 190px 0px 99px;
      @media screen and (max-width: 1160px) {
        padding: 0px 5.2%;
        margin-bottom: 40px;
      }
      @media screen and (max-width: 640px) {
        padding: 0px;
        margin-bottom: 31px;
      }
      @media screen and (max-width: 639px) {
        display: none;
      }
    }
    .container__title {
      font-size: 36px;
      line-height: 130%;
      text-align: center;
      margin-bottom: 36px;
      @media screen and (max-width: 1160px) {
        margin-bottom: 39px;
      }
      @media screen and (max-width: 640px) {
        margin-bottom: 19px;
      }
      @media screen and (max-width: 639px) {
        font-size: 24px;
      }
    }
    .feed__container {
      display: flex;
      justify-content: space-between;
      padding: 0px 17%;
      margin-bottom: 92px;
      @media screen and (max-width: 1160px) {
        padding: 0px 9%;
        margin-bottom: 103px;
      }
      @media screen and (max-width: 999px) {
        padding: 0px;
        margin: 0px 10px 70px 10px;
      }
      @media screen and (max-width: 740px) {
        position: relative;
      }
      @media screen and (max-width: 640px) {
        margin: 0px;
        padding-right: 12px;

        margin-bottom: 70px;
      }
      @media screen and (max-width: 639px) {
        flex-direction: column;
        padding: 0px;
        align-items: center;
        gap: 29px;
        margin-bottom: 47px;
      }

      .feed__cards {
        .feed__img {
          border: 1px solid #fa6f32;
          border-radius: 5px;
          width: 168px;
          height: 168px;
        }

        .feed__pay {
          background: url(../../assets/icons/pay.svg) no-repeat center;
          background-color: #ffffff;
        }
        .feed__goes {
          background: url(../../assets/icons/goes.svg) no-repeat center;
          background-color: #ffffff;
        }
        .feed__dish {
          background: url(../../assets/icons/monkey.svg) no-repeat center;
          background-color: #ffffff;
        }

        .feed__text {
          line-height: 140%;
          padding-top: 30px;
          max-width: 168px;
          height: 46px;
          @media screen and (max-width: 639px) {
            padding-top: 10px;
          }
        }
      }
      @media screen and (max-width: 639px) {
        .feed__cards:last-child {
          margin-top: 7px;
        }
      }
      .feed__arrow {
        background: url(../../assets/icons/Vector.svg) no-repeat center;
        width: 69px;
        height: 152px;
        @media screen and (max-width: 740px) {
          position: absolute;
          background: url(../../assets/icons/arrow_tablet.svg) no-repeat center;
          min-width: 89px;
          height: 29px;
          top: -17px;
        }
        @media screen and (max-width: 639px) {
          transform: rotate(84deg);
        }
      }
      @media screen and (max-width: 740px) {
        .feed__arrow1 {
          left: 23%;
        }
        .feed__arrow2 {
          right: 28%;
        }
      }
      @media screen and (max-width: 639px) {
        .feed__arrow1 {
          left: 69%;
          top: 192px;
        }
        .feed__arrow2 {
          right: 2%;
          top: 441px;
        }
      }
    }
  }
}
.testimonials {
  background: url(../../assets/imgs/leav_foto.svg);
  background-repeat: no-repeat;
  background-position: right bottom;

  background-position: right 126%;
  z-index: -1;
  max-height: 918px;
  @media screen and (max-width: 1280px) {
    background: url(../../assets/imgs/leav_smalldesk.svg) no-repeat right bottom;
    background-position: right 117%;
  }
  @media screen and (max-width: 1000px) {
    max-height: 1000px;
    padding-bottom: 43px;
  }
  @media screen and (max-width: 640px) {
    background: url(../../assets/imgs/leav_tablet.svg) no-repeat right bottom;
    background-position: right 115%;
    padding-bottom: 23px;
  }
  @media screen and (max-width: 320px) {
    background: url(../../assets/imgs/leav_mobile.svg) no-repeat right bottom;
    background-position: right 106%;
    padding-bottom: 31px;
  }

  .testimonials__wrapper {
    max-width: 1190px;
    display: flex;
    flex-direction: column;
    padding: 143px 0.94%;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin: auto;
    overflow: hidden;
    padding-bottom: 180px;
    @media screen and (max-width: 1000px) {
      padding: 102px 0px 100px 0px;
      max-width: 940px;
    }
    @media screen and (max-width: 640px) {
      padding: 58px 2.9%;
      width: 100%;
      overflow: hidden;
    }
    @media screen and (max-width: 320px) {
      padding: 30px 10px;
    }
  }
}

.testimonials__card {
  width: 266px;
  height: 390px;

  @media screen and (max-width: 1000px) {
    width: 291px;
    height: 391px;
  }
  @media screen and (max-width: 640px) {
    width: auto;
    cursor: pointer;
  }

  @media screen and (max-width: 320px) {
    width: 293px;
  }

  .testimonials__border {
    padding: 14px 16px;
    background: #f1f3f2;
    box-sizing: border-box;
    height: 390px;
    border-radius: 20px;
    position: relative;
    @media screen and (max-width: 640px) {
      padding: 13px 10px;
      height: 105px;
    }

    @media screen and (max-width: 320px) {
      padding: 8px 10px;
    }
    .testimonials__review {
      font-weight: 300;
      font-size: 15px;
      line-height: 120%;
      color: #767474;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 16;
      -webkit-box-orient: vertical;
      @media screen and (max-width: 640px) {
        -webkit-line-clamp: 2;
      }
      @media screen and (max-width: 320px) {
        margin-left: 5px;
      }
    }

    .testimonials__info {
      color: #767474;
      display: flex;

      padding-bottom: 10px;
      @media screen and (max-width: 320px) {
        padding-bottom: 12px;
      }
      .testimonials__icon {
        width: 37px;
        height: 37px;
      }
      .icon0 {
        background: url(../../assets/icons/user_icon.svg);
      }
      .icon1 {
        background: url(../../assets/icons/icon1.svg);
      }
      .icon2 {
        background: url(../../assets/icons/icon2.svg);
      }

      .icon3 {
        background: url(../../assets/icons/icon3.svg);
      }

      .testimonials__title {
        padding-left: 10px;
        @media screen and (max-width: 320px) {
          padding-left: 7px;
        }
        .testimonials__name {
          color: #000000;
          line-height: 120%;
        }
        .testimonials__local {
          font-size: 16px;
          font-weight: 300;
          line-height: 120%;
          color: #767474;
          @media screen and (max-width: 320px) {
            font-size: 15px;
            letter-spacing: -0.5px;
          }
        }
      }
    }
  }
  .testimonials__border::before {
    content: "";
    position: absolute;
    top: -2px;
    right: -2px;
    left: -2px;
    bottom: -2px;

    background: $border;
    border-radius: 24px;
    z-index: -1;
  }
}
.popup {
  position: relative;
  width: 266px;
  height: 390px;
  & .testimonials__border {
    height: 390px !important;
  }
  & .testimonials__review {
    -webkit-line-clamp: 16 !important;
  }
  .x-close {
    position: absolute;
    top: -25px;
    right: -40px;
    width: 50px;
    height: 50px;
    background: url("../../assets/icons/x_icon1.svg") no-repeat center;
  }
}
.testimonials__slider {
  position: absolute;
  left: 2px;
  top: 0px;
  display: flex;
  justify-content: start;
  gap: 31px;
  position: relative;
  z-index: 1;
  height: 393px;
  transition: all 1.4s ease 0s;
  width: 3500px;
  align-items: center;
  margin: auto;
  @media screen and (max-width: 1000px) {
    gap: 28px;
  }
  @media screen and (max-width: 640px) {
    flex-direction: column;
    max-width: 600px;
    top: 3px;
    left: 0px;
    gap: 19px;
    width: 98%;
  }
  @media screen and (max-width: 320px) {
    max-width: 300px;
  }

  @media screen and (max-width: 1000px) {
    .testimonials__card.hidden {
      display: none;
    }
  }

//   .popup{
//     position: fixed;
//     top: 50%;
//     left: 50%;
//     width: 267px;
//     height: 391px;
//     overflow: auto;
//     z-index: 11;
//     background: white;
//     border-radius: 20px;
//     transform: translate(-50%, -50%);
//     overflow: visible;
//   .x-close {
//     position: absolute;
//     top: -25px;
//     right: -40px;
//     width: 50px;
//     height: 50px;
//     background: url("../../assets/icons/x_icon1.svg") no-repeat center;
//   }
// }
  
}
.testimonials__head {
  color: #333b41;
  font-size: 36px;
  line-height: 130%;
  text-align: center;
  margin-bottom: 43px;
  @media screen and (max-width: 1000px) {
    margin-bottom: 30px;
  }

  @media screen and (max-width: 320px) {
    font-size: 24px;
    margin-bottom: 17px;
  }
}
.testimonials__slider-wrapper {
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 1163px;

  @media screen and (max-width: 1200px) {
    width: 866px;
  }
  @media screen and (max-width: 1000px) {
    width: 938px;
  }
  @media screen and (max-width: 940px) {
    width: 616px;
  }
  @media screen and (max-width: 640px) {
    margin: 0;
    height: 357px;
    overflow: scroll;
    width: 100%;
  }
}
.scroller {
  width: 599px;
  height: 8px;
  background: #f5f7f6;
  margin: 0 auto;
  display: block;
  border-radius: 5px;
  appearance: none;
  margin-top: 21px;
  position: relative;
  @media screen and (max-width: 1000px) {
    margin-top: 17px;
    width: 390px;
    height: 6px;
  }
  @media screen and (max-width: 640px) {
    display: none;
  }
}
.scroller::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 110px; /* Set a specific slider handle width */
  height: 8px; /* Slider handle height */
  background: #fe9013;
  border-radius: 5px;
  cursor: pointer; /* Cursor on hover */
  @media screen and (max-width: 1000px) {
    height: 6px;
    width: 75px;
  }
}
.scroller::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  border-radius: 7px;
  background: linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
}
.button__4 {
  border-radius: 5px;
  margin: 31px 0px 0px 0px;
  align-self: flex-start;
  @media screen and (max-width: 1000px) {
    margin: 54px 0px 0px 0px;
  }
  @media screen and (max-width: 999px) {
    margin: 0 auto;
    margin-top: 38px;
  }
  @media screen and (max-width: 640px) {
    width: 242px;
    margin-top: 40px;
  }
  @media screen and (max-width: 320px) {
    margin-top: 30px;
  }
}

.footer {
  background: #111115;
  height: 443px;
  @media screen and (max-width: 760px) {
    height: 282px;
  }
  @media screen and (max-width: 380px) {
    height: 334px;
  }

  .footer__wrapper {
    max-width: 1160px;
    max-height: 443px;
    margin: auto;
    padding: 40px 0px 50px 0px;
    display: flex;

    @media screen and (max-width: 1220px) {
      padding: 40px 30px 50px 30px;
      max-height: 444px;
    }
    @media screen and (max-width: 760px) {
      padding: 12px 20px;
      max-width: 640px;
      flex-direction: column;
      width: 100%;
    }
    @media screen and (max-width: 320px) {
      padding: 18px 0px;
    }
  }
}
.logo:hover,
.logo:focus {
  transform: scale(1.1);
  transition: 0.3s;
}
.logo {
  border: 1px solid #ffffff;
  border-radius: 2px;
  position: relative;
  text-align: center;
  margin-bottom: 68px;
  display: inline-block;
  width: 82px;
  height: 52px;

  @media screen and (max-width: 760px) {
    margin-bottom: 33px;
  }
  @media screen and (max-width: 380px) {
    border: none;
    width: auto;
    margin-bottom: 56px;
    left: 95px;
  }
  .logo-text {
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.2;
    color: #ffffff;
  }
}
.logo::after {
  content: url(../../assets/icons/bamboo.svg);
  position: absolute;
  top: 24px;
  left: 10px;
  @media screen and (max-width: 380px) {
    top: -3px;
    left: 72px;
  }
}

.button__5 {
  border-radius: 5px;
  margin-bottom: 44px;
  @media screen and (max-width: 760px) {
    margin: 0px 0px 96px 0px;
  }
  @media screen and (max-width: 320px) {
    margin: 0px 13px 100px 9px;
  }
}
.source__item:hover .source__1,
.source__item:hover .source__2,
.source__item:hover .source__3,
.source__item:hover .source__4 {
  background-color: #4b9200;
  transition: all 0.4s ease;
}
.source__item:hover .footer__social-name {
  color: #4b9200;
  transition: all 0.4s ease;
}
.source__item:active .source__1,
.source__item:active .source__2,
.source__item:active .source__3,
.source__item:active .source__4 {
  background-color: #4b9200;
  transition: all 0.4s ease;
}
.source__item:active .footer__social-name {
  color: #4b9200;
  transition: all 0.4s ease;
}
.footer__source-container {
  display: flex;

  max-width: 111px;
  height: 26px;
  align-items: center;
  margin-bottom: 10px;

  .footer__source-icon {
    width: 26px;
    height: 26px;
    border-radius: 50%;
  }
  .source__1 {
    background: url(../../assets/icons/Facebook.svg) no-repeat center;
    background-color: rgba(196, 196, 196, 0.5);
  }
  .source__2 {
    background: url(../../assets/icons/twitter.svg) no-repeat center;
    background-color: rgba(196, 196, 196, 0.5);
  }
  .source__3 {
    background: url(../../assets/icons/inst.svg) no-repeat center;
    background-color: rgba(196, 196, 196, 0.5);
  }
  .source__4 {
    background: url(../../assets/icons/youtube.svg) no-repeat center;
    background-color: rgba(196, 196, 196, 0.5);
  }
  .footer__social-name {
    color: #ffffff;
    line-height: 140%;
    padding-left: 12px;

    @media screen and (max-width: 760px) {
      display: none;
    }
  }
}
@media screen and (max-width: 760px) {
  .source__list {
    margin-top: 46px;
    position: absolute;
    top: -20%;
    right: 0;
    .source__item {
      margin-bottom: 21px;
    }
    .source__item:last-child {
      margin-bottom: 0px;
    }
  }
}
@media screen and (max-width: 380px) {
  .source__list {
    margin-top: 0px;
    display: flex;
    top: 53px;
    left: 63px;
    gap: 30px;
  }
}
.column__1 {
  margin-right: 103px;
  @media screen and (max-width: 1220px) {
    margin-right: 0px;
  }
  @media screen and (max-width: 760px) {
    width: 100%;
    margin-right: 0px;
    position: relative;
  }
}
.column__2 {
  display: flex;
  align-items: flex-end;
  margin-right: 30px;
  @media screen and (max-width: 1220px) {
    margin-right: 0px;
  }
  @media screen and (max-width: 760px) {
    max-width: 300px;
  }

  .footer__nav {
    flex: 1 1 auto;
    padding-left: 3px;
    @media screen and (max-width: 1220px) {
      padding-left: 0;
      margin: 0 -50px 0 -10px;
    }
    @media screen and (max-width: 760px) {
      margin: 0 auto;
    }
    @media screen and (max-width: 639px) {
      max-width: 278px;
      position: relative;
      top: 10px;
      left: 10px;
    }

    .footer__list {
      display: flex;

      @media screen and (max-width: 1220px) {
        gap: 0px;
        padding-bottom: 1px;
      }
      .footer__link {
        font-weight: 500;
        color: #ffffff;
        text-decoration: none;
      }
      .footer__link:active,
      .footer__link.active {
        color: #e47209;
        outline: none;
      }
      .footer__link:hover,
      .footer__link:focus {
        color: #fe9013;
        transition: 0.3s;
        outline: none;
      }
      .footer__item {
        color: #ffffff;
        line-height: 140%;
        font-weight: 400;
        margin-left: 56px;
        @media screen and (max-width: 1220px) {
          margin-left: 48px;
        }
        @media screen and (max-width: 760px) {
          margin-left: 37px;
        }
        @media screen and (max-width: 639px) {
          margin-left: 30px;
        }
      }
      .footer__item:first-child {
        margin-left: 0px;
      }
    }
  }
}

.column__3 {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 1220px) {
    margin-right: 0px;
  }
  @media screen and (max-width: 999px) {
    position: relative;
    right: 178px;
  }
  @media screen and (max-width: 800px) {
  }
  .footer__header {
    color: #ffffff;
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 14px;
    @media screen and (max-width: 1220px) {
      position: relative;
      left: -8%;
    }
    @media screen and (max-width: 760px) {
      display: none;
    }
  }
  .input__container {
    flex: 1 1 auto;
    display: flex;
    gap: 10px;
    @media screen and (max-width: 1220px) {
      position: relative;
      left: -8%;
    }
    @media screen and (max-width: 760px) {
      display: none;
    }

    .footer__input {
      box-sizing: border-box;
      width: 228px;
      height: 42px;
      padding: 0px 10px;
      border: 1px solid transparent;
      background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
      box-shadow: inset 0px 0px 0px 100vw #111115;
      border-radius: 5px;
      font-size: 16px;
      color: #ffffff;
    }
    .footer__input:focus {
      color: #4b9200;
      border-color: #4b9200;
    }
    .footer__input:invalid {
      color: #d31414;
      border-color: #d31414;
    }
    .footer__input:invalid ~ .footer__submit {
      color: #d31414;
      border-color: #d31414;
    }

    .footer__submit {
      width: 129px;
      height: 42px;
      color: #333b41;
      border: 1px solid #333b41;
      background: #f1f3f2;
      border-radius: 5px;
    }
    .footer__submit:active {
      color: #4b9200;
      border-color: #4b9200;
    }
  }
  .footer__info {
    font-weight: 100;
    color: #ffffff50;
    padding-bottom: 1px;
    line-height: 130%;
    @media screen and (max-width: 1220px) {
      padding-bottom: 0px;
      margin-right: -6px;
    }
    @media screen and (max-width: 999px) {
      position: relative;
      top: -166px;
      right: 38px;
    }
    @media screen and (max-width: 760px) {
      position: absolute;
      top: -51px;
      right: -175px;
    }
    @media screen and (max-width: 639px) {
      top: -85px;
      right: -172px;
    }

    @media screen and (max-width: 380px) {
      top: -91px;
      right: -163px;
    }
    .designed {
      margin-bottom: 3px;
      text-align: end;
      padding: 0 3px 5px 0;
      @media screen and (max-width: 1220px) {
        padding: 0px 3px 7px 0px;
      }
      @media screen and (max-width: 380px) {
        font-size: 15px;
      }
    }
    .logo__copyright {
      text-align: end;
      @media screen and (max-width: 380px) {
        font-size: 15px;
      }
    }
  }
  .footer__info:hover,
  .footer__info:focus {
    color: #4b9200;
    transition: 0.3s;
    outline: none;
  }
  .footer__info:active,
  .footer__info.active {
    color: #4b9200;

    outline: none;
  }
}
