@font-face {
  font-family: Roboto;
  src: url(../../assets/fonts/Roboto/Roboto-Regular.ttf);
  font-weight: 400; }
@font-face {
  font-family: Roboto;
  src: url(../../assets/fonts/Roboto/Roboto-Italic.ttf);
  font-style: italic; }
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  font-family: Roboto;
  color: #ffffff;
  margin: auto; }

.button {
  font-family: Roboto;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  width: 298px;
  height: 54px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 25px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  outline: none;
  text-transform: uppercase;
  border: none; }

.link {
  text-decoration: none; }

.wrapper {
  max-width: 1160px;
  margin: 0 auto; }

.header__wrapper {
  max-width: 1160px;
  height: 100%;
  margin: auto; }
  @media screen and (max-width: 640px) {
    .header__wrapper {
      max-width: 640px;
      height: 100%; } }

.header {
  margin: auto;
  width: 100%;
  height: 80px;
  background: #000000;
  z-index: 2; }
  @media screen and (max-width: 640px) {
    .header {
      position: fixed;
      top: 0;
      left: 0;
      height: 34px; } }
  .header .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 14px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: auto; }
    @media screen and (max-width: 1160px) {
      .header .header__container {
        padding: 14px 30px; } }
    @media screen and (max-width: 640px) {
      .header .header__container {
        padding: 0px 20px;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        height: 100%; } }
    @media screen and (max-width: 639px) {
      .header .header__container {
        padding: 0px 10px; } }
    .header .header__container .header__logo {
      border: 1px solid #ffffff;
      border-radius: 2px;
      position: relative;
      text-align: center;
      margin-bottom: 0px;
      display: inline-block;
      width: 82px;
      height: 52px; }
      @media screen and (max-width: 640px) {
        .header .header__container .header__logo {
          width: 46.93px;
          height: 29.03px;
          border: none; } }
      .header .header__container .header__logo .header__logo-text {
        text-align: center;
        font-size: 1.2rem;
        line-height: 1.2;
        color: #ffffff; }
        @media screen and (max-width: 640px) {
          .header .header__container .header__logo .header__logo-text {
            font-size: 12.2899px;
            text-align: center;
            margin: 0 auto; } }
    .header .header__container .header__logo::after {
      content: url(../../assets/icons/bamboo.svg);
      position: absolute;
      top: 24px;
      left: 10px; }
      @media screen and (max-width: 640px) {
        .header .header__container .header__logo::after {
          content: url(../../assets/icons/bamboo__tablet.svg);
          top: 12px;
          left: 4px; } }
    .header .header__container .header__nav {
      margin: 0 437px 0 63px; }
      @media screen and (max-width: 1160px) {
        .header .header__container .header__nav {
          margin: 0px 260px 0px 63px; } }
      @media screen and (max-width: 999px) {
        .header .header__container .header__nav {
          margin: 0px; } }
      @media screen and (max-width: 640px) {
        .header .header__container .header__nav {
          display: none; } }
      .header .header__container .header__nav .nav__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        gap: 58px; }
        @media screen and (max-width: 1000px) {
          .header .header__container .header__nav .nav__list {
            gap: 48px; } }
        .header .header__container .header__nav .nav__list .nav__item {
          font-size: 16px;
          line-height: 140%; }
    .header .header__container .copyright {
      width: 105px;
      height: 22px;
      font-size: 16px;
      line-height: 140%; }
      @media screen and (max-width: 680px) {
        .header .header__container .copyright {
          display: none; } }
    .header .header__container .header__burger {
      display: none; }
      @media screen and (max-width: 640px) {
        .header .header__container .header__burger {
          background: url(../../assets/icons/burger_menu.svg) no-repeat center;
          width: 18px;
          height: 10px;
          cursor: pointer;
          padding: 10px;
          display: block; } }

.intro {
  background: url(../../assets/imgs/panda\ bg.jpg) no-repeat center/cover;
  height: 386px; }
  @media screen and (max-width: 1000px) {
    .intro {
      height: 390px;
      background-position: bottom 0px left -170px; } }
  @media screen and (max-width: 640px) {
    .intro {
      margin-top: 34px;
      height: 335px;
      background-position: bottom 0px left -272px; } }
  @media screen and (max-width: 320px) {
    .intro {
      height: 188px;
      background-position: bottom 0px left -152px; } }
  .intro .wrapper {
    height: 386px; }
    @media screen and (max-width: 640px) {
      .intro .wrapper {
        height: 335px; } }
    @media screen and (max-width: 320px) {
      .intro .wrapper {
        height: 188px; } }

.donate {
  max-height: 1482px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #febdab 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%);
  border: 1px solid #000000;
  padding: 40px 0px 180px 0px; }
  @media screen and (max-width: 1200px) {
    .donate {
      padding: 40px 30px 28px 30px; } }
  @media screen and (max-width: 640px) {
    .donate {
      padding: 29px 20px 45px 20px;
      border: none; } }
  @media screen and (max-width: 639px) {
    .donate {
      padding: 29px 10px 21px 10px; } }
  .donate .donate__title {
    font-size: 36px;
    line-height: 130%;
    color: #ffffff;
    padding-bottom: 10px; }
    @media screen and (max-width: 1200px) {
      .donate .donate__title {
        text-align: left;
        padding-right: 100px;
        padding-bottom: 30px; } }
    @media screen and (max-width: 640px) {
      .donate .donate__title {
        font-size: 24px;
        line-height: 120%;
        padding-right: 0px;
        padding-bottom: 21px; } }
  .donate .donate__text {
    line-height: 140%;
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 40px;
    letter-spacing: 0.18px; }
    @media screen and (max-width: 1200px) {
      .donate .donate__text {
        letter-spacing: 0.11px;
        margin-bottom: 45px; } }
    @media screen and (max-width: 640px) {
      .donate .donate__text {
        margin-bottom: 30px;
        letter-spacing: 0.18px;
        font-weight: 400; } }
    @media screen and (max-width: 639px) {
      .donate .donate__text {
        letter-spacing: 0.1px;
        line-height: 138%; } }
  .donate .info__title {
    font-size: 36px;
    line-height: 130%;
    margin-bottom: 63px;
    color: #fe9013; }
    @media screen and (max-width: 1200px) {
      .donate .info__title {
        margin-bottom: 40px; } }
    @media screen and (max-width: 640px) {
      .donate .info__title {
        margin-bottom: 30px; } }
    @media screen and (max-width: 639px) {
      .donate .info__title {
        font-size: 24px;
        line-height: 120%; } }
  .donate .friend__wrapper {
    max-height: 964px;
    max-width: 1160px;
    padding: 40px 92px 60px 92px;
    background: rgba(255, 255, 255, 0.52);
    border-radius: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: auto; }
    @media screen and (max-width: 1200px) {
      .donate .friend__wrapper {
        padding: 20px 65px 45px 65px; } }
    @media screen and (max-width: 999px) {
      .donate .friend__wrapper {
        padding: 30px 0 35px 0;
        height: 918px; } }
    @media screen and (max-width: 639px) {
      .donate .friend__wrapper {
        padding: 21px 0px 23px 0px;
        height: 591px; } }
    .donate .friend__wrapper .friend__title {
      font-size: 48px;
      line-height: 120%;
      color: #fe9013;
      margin: 0px 11px 22px 0px;
      text-align: center; }
      @media screen and (max-width: 1200px) {
        .donate .friend__wrapper .friend__title {
          margin: 0px 11px 11px 0px; } }
      @media screen and (max-width: 999px) {
        .donate .friend__wrapper .friend__title {
          margin: 0px 0px 19px 0px; } }
      @media screen and (max-width: 639px) {
        .donate .friend__wrapper .friend__title {
          font-size: 24px;
          margin-bottom: 9px; } }
    .donate .friend__wrapper .friend__text {
      font-size: 24px;
      line-height: 120%;
      color: #333b41;
      margin-bottom: 60px; }
      @media screen and (max-width: 1200px) {
        .donate .friend__wrapper .friend__text {
          margin: 0px -18px 60px -18px; } }
      @media screen and (max-width: 999px) {
        .donate .friend__wrapper .friend__text {
          margin: 0px 0px 51px 0px;
          text-align: center; } }
      @media screen and (max-width: 639px) {
        .donate .friend__wrapper .friend__text {
          font-size: 16px;
          line-height: 140%;
          margin: 0px 0px 10px 0px; } }
    .donate .friend__wrapper .donate__diet {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      gap: 12px;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-bottom: 48px; }
      @media screen and (max-width: 999px) {
        .donate .friend__wrapper .donate__diet {
          margin-left: -15px;
          margin-bottom: 40px; } }
      @media screen and (max-width: 639px) {
        .donate .friend__wrapper .donate__diet {
          margin-left: 0px;
          gap: 5px;
          margin-bottom: 2px; } }
      .donate .friend__wrapper .donate__diet .diet__day-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        max-width: 159px;
        padding-top: 54px; }
        @media screen and (max-width: 639px) {
          .donate .friend__wrapper .donate__diet .diet__day-container {
            padding-top: 29px; } }
        .donate .friend__wrapper .donate__diet .diet__day-container .day {
          width: 41px;
          height: 58px;
          font-size: 72px;
          line-height: 80%;
          font-weight: 500;
          color: #000000;
          margin-bottom: 11px; }
          @media screen and (max-width: 639px) {
            .donate .friend__wrapper .donate__diet .diet__day-container .day {
              font-size: 41px;
              height: 32.7px;
              width: 23.2px;
              margin-bottom: 6.2px; } }
        .donate .friend__wrapper .donate__diet .diet__day-container .animal {
          line-height: 140%;
          color: #333b41; }
          @media screen and (max-width: 639px) {
            .donate .friend__wrapper .donate__diet .diet__day-container .animal {
              font-size: 9px;
              width: 90px; } }
      .donate .friend__wrapper .donate__diet .diet__x {
        background: url(../../assets/icons/x_icon1.svg) no-repeat left;
        width: 60px;
        height: 14px;
        margin-top: 25px; }
        @media screen and (max-width: 320px) {
          .donate .friend__wrapper .donate__diet .diet__x {
            background: url(../../assets/icons/x_icon-mob.svg) no-repeat left;
            width: 32px;
            height: 14px;
            margin-top: 16px; } }
      .donate .friend__wrapper .donate__diet .diet__img {
        background: url(../../assets/icons/panda-widget.svg);
        height: 246px;
        width: 284px; }
        @media screen and (max-width: 639px) {
          .donate .friend__wrapper .donate__diet .diet__img {
            background: url(../../assets/imgs/panda__donate-mob.svg);
            width: 160.15px;
            height: 138.72px;
            margin-left: 7px; } }
    .donate .friend__wrapper .amount__p {
      line-height: 140%;
      padding-bottom: 16px;
      color: #000000; }
      @media screen and (max-width: 999px) {
        .donate .friend__wrapper .amount__p {
          margin-left: 10px;
          padding-bottom: 6px; } }
      @media screen and (max-width: 639px) {
        .donate .friend__wrapper .amount__p {
          margin-left: 0px;
          padding-bottom: 8px; } }
    .donate .friend__wrapper .donate__amount-wrapper {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 27px;
      width: 100%;
      margin-bottom: 48px;
      background: #404950;
      border-radius: 2px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
      @media screen and (max-width: 639px) {
        .donate .friend__wrapper .donate__amount-wrapper {
          height: 13.5px;
          margin-bottom: 0px; } }
      .donate .friend__wrapper .donate__amount-wrapper .donate__amount {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: absolute;
        width: 100%;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        top: 8px;
        left: 0px; }
        @media screen and (max-width: 1200px) {
          .donate .friend__wrapper .donate__amount-wrapper .donate__amount {
            width: 104%;
            left: -2%; } }
        @media screen and (max-width: 999px) {
          .donate .friend__wrapper .donate__amount-wrapper .donate__amount {
            width: 98%;
            left: 1%; } }
        @media screen and (max-width: 639px) {
          .donate .friend__wrapper .donate__amount-wrapper .donate__amount {
            top: 4px; } }
        @media screen and (max-width: 320px) {
          .donate .friend__wrapper .donate__amount-wrapper .donate__amount {
            top: 3px;
            width: 108.5%;
            left: -4%; } }
        .donate .friend__wrapper .donate__amount-wrapper .donate__amount .donate__label {
          position: relative;
          width: 65px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          gap: 20px;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          font-weight: 500;
          font-size: 26px;
          line-height: 140%;
          text-transform: uppercase;
          color: #333b41;
          cursor: pointer;
          -webkit-transform: translate(0px, 1px);
                  transform: translate(0px, 1px); }
          @media screen and (max-width: 639px) {
            .donate .friend__wrapper .donate__amount-wrapper .donate__amount .donate__label {
              font-size: 13px;
              gap: 11px; } }
        @media screen and (max-width: 1200px) {
          .donate .friend__wrapper .donate__amount-wrapper .donate__amount .donate__label.hidden {
            display: none; } }
        @media screen and (max-width: 999px) {
          .donate .friend__wrapper .donate__amount-wrapper .donate__amount .donate__label:nth-child(2) {
            display: none; }
          .donate .friend__wrapper .donate__amount-wrapper .donate__amount .donate__label:nth-child(4) {
            display: none; }
          .donate .friend__wrapper .donate__amount-wrapper .donate__amount .donate__label:nth-child(6) {
            display: none; } }
        .donate .friend__wrapper .donate__amount-wrapper .donate__amount .donate__label::before {
          position: relative;
          z-index: 2;
          content: "";
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background: #ffee2e;
          cursor: pointer; }
          @media screen and (max-width: 639px) {
            .donate .friend__wrapper .donate__amount-wrapper .donate__amount .donate__label::before {
              height: 5px;
              width: 5px; } }
        .donate .friend__wrapper .donate__amount-wrapper .donate__amount .donate__label.active::after {
          position: absolute;
          content: "";
          border-radius: 50%;
          z-index: 2;
          width: 40px;
          height: 40px;
          background: url(../../assets/icons/roller_icon.svg);
          -webkit-transform: translate(0, -15px);
                  transform: translate(0, -15px); }
      .donate .friend__wrapper .donate__amount-wrapper .donate__amount::before {
        content: "";
        position: absolute;
        height: 2px;
        background: #72828e;
        width: 915px;
        -webkit-transform: translate(30px, 5px);
                transform: translate(30px, 5px); }
        @media screen and (max-width: 1200px) {
          .donate .friend__wrapper .donate__amount-wrapper .donate__amount::before {
            width: 94%; } }
        @media screen and (max-width: 1000px) {
          .donate .friend__wrapper .donate__amount-wrapper .donate__amount::before {
            width: 93%; } }
        @media screen and (max-width: 999px) {
          .donate .friend__wrapper .donate__amount-wrapper .donate__amount::before {
            width: 92%; } }
        @media screen and (max-width: 768px) {
          .donate .friend__wrapper .donate__amount-wrapper .donate__amount::before {
            width: 90%; } }
        @media screen and (max-width: 640px) {
          .donate .friend__wrapper .donate__amount-wrapper .donate__amount::before {
            width: 89%; } }
        @media screen and (max-width: 639px) {
          .donate .friend__wrapper .donate__amount-wrapper .donate__amount::before {
            width: 90%;
            -webkit-transform: translate(30px, 3px);
                    transform: translate(30px, 3px); } }
        @media screen and (max-width: 600px) {
          .donate .friend__wrapper .donate__amount-wrapper .donate__amount::before {
            width: 89%; } }
        @media screen and (max-width: 550px) {
          .donate .friend__wrapper .donate__amount-wrapper .donate__amount::before {
            width: 88%; } }
        @media screen and (max-width: 500px) {
          .donate .friend__wrapper .donate__amount-wrapper .donate__amount::before {
            width: 87%; } }
        @media screen and (max-width: 450px) {
          .donate .friend__wrapper .donate__amount-wrapper .donate__amount::before {
            width: 85%; } }
        @media screen and (max-width: 420px) {
          .donate .friend__wrapper .donate__amount-wrapper .donate__amount::before {
            width: 84%; } }
        @media screen and (max-width: 400px) {
          .donate .friend__wrapper .donate__amount-wrapper .donate__amount::before {
            width: 83%; } }
        @media screen and (max-width: 350px) {
          .donate .friend__wrapper .donate__amount-wrapper .donate__amount::before {
            width: 81%; } }

.donate__amount input[type="radio"] {
  display: none; }

.donate__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .donate__form .donate__input {
    width: 268px;
    height: 54px;
    border: 1px solid #929699;
    border-radius: 2px;
    color: #929699;
    line-height: 140%;
    background: url(../../assets/icons/dollar.svg) no-repeat;
    background-position: 96% 45%;
    margin-bottom: 25px;
    padding: 16px 9px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    @media screen and (max-width: 999px) {
      .donate__form .donate__input {
        width: 180px;
        height: 42px;
        padding: 16px 6px;
        margin-bottom: 30px; } }
    @media screen and (max-width: 639px) {
      .donate__form .donate__input {
        margin-bottom: 24px; } }
  .donate__form .donate__radio-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;
    gap: 50px;
    margin-right: 13px;
    line-height: 140%; }
    @media screen and (max-width: 999px) {
      .donate__form .donate__radio-wrapper {
        margin-right: 20px; } }
    @media screen and (max-width: 639px) {
      .donate__form .donate__radio-wrapper {
        margin-bottom: 28px; } }
  .donate__form .donate__radio-wrapper > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px; }
  .donate__form .donate__p2 {
    color: #333b41;
    line-height: 140%;
    padding-top: 30px; }
    @media screen and (max-width: 639px) {
      .donate__form .donate__p2 {
        margin-right: -1px; } }

.donate__radio-wrapper input[type="radio"]:checked {
  border-color: #4b9200;
  background-color: #4b9200;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

.donate__radio-wrapper input[type="radio"] {
  width: 16px;
  height: 16px;
  border: 1px solid #fe9013;
  border-radius: 50%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

.donate__wrapper {
  color: #333b41; }

.donate__label span {
  display: block;
  position: relative; }

.donate__label:nth-child(2) span {
  left: 1px; }
  @media screen and (max-width: 1200px) {
    .donate__label:nth-child(2) span {
      display: none; } }

.donate__label:nth-child(4) span {
  left: 1px; }
  @media screen and (max-width: 1200px) {
    .donate__label:nth-child(4) span {
      left: 18px; } }

.donate__label:nth-child(6) span {
  left: 1px; }
  @media screen and (max-width: 1200px) {
    .donate__label:nth-child(6) span {
      left: 18px; } }

.donate__label:nth-child(8) span {
  left: -6px; }
  @media screen and (max-width: 1200px) {
    .donate__label:nth-child(8) span {
      left: 11px; } }
  @media screen and (max-width: 999px) {
    .donate__label:nth-child(8) span {
      left: 6px; } }

.donate__label:nth-child(10) span {
  left: -6px; }
  @media screen and (max-width: 1200px) {
    .donate__label:nth-child(10) span {
      left: 11px; } }
  @media screen and (max-width: 999px) {
    .donate__label:nth-child(10) span {
      left: 6px; } }

.donate__label:nth-child(12) span {
  left: -7px; }
  @media screen and (max-width: 1200px) {
    .donate__label:nth-child(12) span {
      left: 11px; } }
  @media screen and (max-width: 999px) {
    .donate__label:nth-child(12) span {
      left: 6px; } }

.donate__label:nth-child(14) span {
  left: -14px; }
  @media screen and (max-width: 1200px) {
    .donate__label:nth-child(14) span {
      left: 5px; } }
  @media screen and (max-width: 999px) {
    .donate__label:nth-child(14) span {
      left: -4px; } }

.donate__label:nth-child(16) span {
  left: -14px; }
  @media screen and (max-width: 1200px) {
    .donate__label:nth-child(16) span {
      left: 5px; } }
  @media screen and (max-width: 999px) {
    .donate__label:nth-child(16) span {
      left: -4px; } }

.footer {
  background: #111115;
  height: 443px; }
  @media screen and (max-width: 760px) {
    .footer {
      height: 282px; } }
  @media screen and (max-width: 380px) {
    .footer {
      height: 334px; } }
  .footer .footer__wrapper {
    max-width: 1160px;
    max-height: 443px;
    margin: auto;
    padding: 40px 0px 50px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media screen and (max-width: 1220px) {
      .footer .footer__wrapper {
        padding: 40px 30px 50px 30px;
        max-height: 444px; } }
    @media screen and (max-width: 760px) {
      .footer .footer__wrapper {
        padding: 12px 20px;
        max-width: 640px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 100%; } }
    @media screen and (max-width: 320px) {
      .footer .footer__wrapper {
        padding: 18px 0px; } }

.logo {
  border: 1px solid #ffffff;
  border-radius: 2px;
  position: relative;
  text-align: center;
  margin-bottom: 68px;
  display: inline-block;
  width: 82px;
  height: 52px; }
  @media screen and (max-width: 760px) {
    .logo {
      margin-bottom: 33px; } }
  @media screen and (max-width: 380px) {
    .logo {
      border: none;
      width: auto;
      margin-bottom: 56px;
      left: 95px; } }
  .logo .logo-text {
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.2;
    color: #ffffff; }

.logo::after {
  content: url(../../assets/icons/bamboo.svg);
  position: absolute;
  top: 24px;
  left: 10px; }
  @media screen and (max-width: 380px) {
    .logo::after {
      top: -3px;
      left: 72px; } }

.button__5 {
  border-radius: 5px;
  margin-bottom: 44px; }
  @media screen and (max-width: 760px) {
    .button__5 {
      margin: 0px 0px 96px 0px; } }
  @media screen and (max-width: 320px) {
    .button__5 {
      margin: 0px 13px 100px 9px; } }

.footer__source-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 111px;
  height: 26px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px; }
  .footer__source-container .footer__source-icon {
    width: 26px;
    height: 26px;
    border-radius: 50%; }
  .footer__source-container .source__1 {
    background: url(../../assets/icons/Facebook.svg) no-repeat center;
    background-color: rgba(196, 196, 196, 0.5); }
  .footer__source-container .source__2 {
    background: url(../../assets/icons/twitter.svg) no-repeat center;
    background-color: rgba(196, 196, 196, 0.5); }
  .footer__source-container .source__3 {
    background: url(../../assets/icons/inst.svg) no-repeat center;
    background-color: rgba(196, 196, 196, 0.5); }
  .footer__source-container .source__4 {
    background: url(../../assets/icons/youtube.svg) no-repeat center;
    background-color: rgba(196, 196, 196, 0.5); }
  .footer__source-container .footer__social-name {
    color: #ffffff;
    line-height: 140%;
    padding-left: 12px; }
    @media screen and (max-width: 760px) {
      .footer__source-container .footer__social-name {
        display: none; } }

@media screen and (max-width: 760px) {
  .source__list {
    margin-top: 46px;
    position: absolute;
    top: -20%;
    right: 0; }
    .source__list .source__item {
      margin-bottom: 21px; }
    .source__list .source__item:last-child {
      margin-bottom: 0px; } }
@media screen and (max-width: 380px) {
  .source__list {
    margin-top: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 53px;
    left: 63px;
    gap: 30px; } }
.column__1 {
  margin-right: 103px; }
  @media screen and (max-width: 1220px) {
    .column__1 {
      margin-right: 0px; } }
  @media screen and (max-width: 760px) {
    .column__1 {
      width: 100%;
      margin-right: 0px;
      position: relative; } }

.column__2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: 30px; }
  @media screen and (max-width: 1220px) {
    .column__2 {
      margin-right: 0px; } }
  @media screen and (max-width: 760px) {
    .column__2 {
      max-width: 300px; } }
  .column__2 .footer__nav {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    padding-left: 3px; }
    @media screen and (max-width: 1220px) {
      .column__2 .footer__nav {
        padding-left: 0;
        margin: 0 -50px 0 -10px; } }
    @media screen and (max-width: 760px) {
      .column__2 .footer__nav {
        margin: 0 auto; } }
    @media screen and (max-width: 639px) {
      .column__2 .footer__nav {
        max-width: 278px;
        position: relative;
        top: 10px;
        left: 10px; } }
    .column__2 .footer__nav .footer__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      @media screen and (max-width: 1220px) {
        .column__2 .footer__nav .footer__list {
          gap: 0px;
          padding-bottom: 1px; } }
      .column__2 .footer__nav .footer__list .footer__item {
        color: #ffffff;
        line-height: 140%;
        font-weight: 400;
        margin-left: 56px; }
        @media screen and (max-width: 1220px) {
          .column__2 .footer__nav .footer__list .footer__item {
            margin-left: 48px; } }
        @media screen and (max-width: 760px) {
          .column__2 .footer__nav .footer__list .footer__item {
            margin-left: 37px; } }
        @media screen and (max-width: 639px) {
          .column__2 .footer__nav .footer__list .footer__item {
            margin-left: 30px; } }
      .column__2 .footer__nav .footer__list .footer__item:first-child {
        margin-left: 0px; }

.column__3 {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (max-width: 1220px) {
    .column__3 {
      margin-right: 0px; } }
  @media screen and (max-width: 999px) {
    .column__3 {
      position: relative;
      right: 178px; } }
  .column__3 .footer__header {
    color: #ffffff;
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 14px; }
    @media screen and (max-width: 1220px) {
      .column__3 .footer__header {
        position: relative;
        left: -8%; } }
    @media screen and (max-width: 760px) {
      .column__3 .footer__header {
        display: none; } }
  .column__3 .input__container {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px; }
    @media screen and (max-width: 1220px) {
      .column__3 .input__container {
        position: relative;
        left: -8%; } }
    @media screen and (max-width: 760px) {
      .column__3 .input__container {
        display: none; } }
    .column__3 .input__container .footer__input {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      width: 228px;
      height: 42px;
      padding: 0px 10px;
      border: 1px solid transparent;
      background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
      -webkit-box-shadow: inset 0px 0px 0px 100vw #111115;
              box-shadow: inset 0px 0px 0px 100vw #111115;
      border-radius: 5px;
      font-size: 16px;
      color: #ffffff; }
    .column__3 .input__container .footer__submit {
      width: 129px;
      height: 42px;
      color: #4b9200;
      border: 1px solid #4b9200;
      background: #f1f3f2;
      border-radius: 5px; }
  .column__3 .footer__info {
    font-weight: 100;
    color: #ffffff50;
    padding-bottom: 1px;
    line-height: 130%; }
    @media screen and (max-width: 1220px) {
      .column__3 .footer__info {
        padding-bottom: 0px;
        margin-right: -6px; } }
    @media screen and (max-width: 999px) {
      .column__3 .footer__info {
        position: relative;
        top: -166px;
        right: 38px; } }
    @media screen and (max-width: 760px) {
      .column__3 .footer__info {
        position: absolute;
        top: -51px;
        right: -175px; } }
    @media screen and (max-width: 639px) {
      .column__3 .footer__info {
        top: -85px;
        right: -172px; } }
    @media screen and (max-width: 380px) {
      .column__3 .footer__info {
        top: -91px;
        right: -163px; } }
    .column__3 .footer__info .designed {
      margin-bottom: 3px;
      text-align: end;
      padding: 0 3px 5px 0; }
      @media screen and (max-width: 1220px) {
        .column__3 .footer__info .designed {
          padding: 0px 3px 7px 0px; } }
      @media screen and (max-width: 380px) {
        .column__3 .footer__info .designed {
          font-size: 15px; } }
    .column__3 .footer__info .logo__copyright {
      text-align: end; }
      @media screen and (max-width: 380px) {
        .column__3 .footer__info .logo__copyright {
          font-size: 15px; } }

/*# sourceMappingURL=style.css.map */